<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Results</title>
</head>

<body>
    <h1>Air quality:</h1>
    <p>City: {{ city }}</p>
    <p>CO: {{ co }}</p>
    <p>NO2: {{ no2 }}</p>
    <p>PM2.5: {{ pm2_5 }}</p>
    <p>PM10: {{ pm10 }}</p>
    <p>Average CO: {{ average_co }}</p>
    <p>Average NO2: {{ average_no2 }}</p>
    <p>Average PM2.5: {{ average_pm2_5 }}</p>
    <p>Average PM10: {{ average_pm10 }}</p>
    <p>Difference CO: {{ difference_co }}</p>
    <p>Difference NO2: {{ difference_no2 }}</p>
    <p>Difference PM2.5: {{ difference_pm2_5 }}</p>
    <p>Difference PM10: {{ difference_pm10 }}</p>
</body>


</html>